<div class="footer  main-cont" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-evenly start" fxFlex>
	<div fxLayout="column">
		<h3>Customer Support</h3>
		<a href="">Contact Us</a>
		<a href="">Help Centre</a>
		<a href="">Returns & Exchanges</a>
		<a href="">CShop Credit Card</a>
		<a href="">CShop Gift Cards</a>
	</div>
	<div fxLayout="column">
		<h3>Account</h3>
		<a href="">Order Status</a>
		<a href="">Manage Account</a>
		<a href="">Email Preferences</a>
	</div>
	<div fxLayout="column">
		<h3>Services</h3>
		<a href="">The GeekGang</a>
		<a href="">Trade-in Program</a>
		<a href="">Electronics Recycling</a>
	</div>
	<div fxLayout="column">
		<h3>About Us</h3>
		<a href="">Careers</a>
		<a href="">Coperate Information</a>
		<a href="">About CShop Marketplace</a>
		<a href="">Sell on CShop Marketplace</a>
	</div>
	<div fxLayout="column">
		<h3>International Sites</h3>
		<a href="">CShop Mexico</a>
		<a href="">CShop USA</a>
	</div>
</div>